.input-content{
    align-items: center;
    background-color: $veryLightGrayBg;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    padding-left: 1.5rem;
    padding-top: 2px;  
    transition: 400ms;
    width: 32.5rem;
    margin-bottom: 3rem;
    transition: .3s ease all;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    & i{
        color: $darkGrayInput;
    }

    body.dark &{
        background-color: $darkBlueElement;
    }

}

.input{
    color: #07423C; 
    border: none;
    background-color: white;
    outline: none;
    width: 100%;
    height: 2.9rem;
    appearance: none;
    border-radius: 5px;
    font-family:$font;
    caret-color: $darkBlueElement;
    font-size: 1rem;
    transition: .3s ease all;
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    body.dark &{
        background-color: $darkBlueElement;
        color: $white;
    }

    &:focus{
        background-color: white;
        font-family:$font;
        font-weight: 400;
        
    }
}

.input-main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.input-region{
    height: 3rem;
    border: none;
    background-color: $white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 1rem 2rem;
    margin-bottom: 3rem;

    &:focus{
        border: none;
        
    }

    body.dark &{
        background-color: $darkBlueElement;
        color: $white;
    }
}